<!DOCTYPE html>
<html ng-app="MyFirstApp"><!-- Indica que esta pagina contiene angular-->
<head>
<meta charset="utf-8" >
	<title>Hola HTTP</title>
	<script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js></script>
	<script src=controller.js></script>
</head>
<body ng-controller="FirstController"> <!-- ng-controller matchea con el nombre del controlador que creamos-->
	<input type="" ng-model="newPost.title"></input><!--ng model es como el value para angular -->
	<br>
	<textarea ng-model="newPost.body"></textarea>
	<button ng-click="addPost()">Enviar</button>
	<ul>
		<li ng-repeat="post in posts">
			<h3>{{post.title}} </h3>
			<p>{{post.body}}</p>
	</ul>
</body>
</html>